$white: hsl(0, 0%, 100%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$p-color: hsl(215, 32%, 27%);
$card-width: 350px;
$cyan: hsl(178, 100%, 50%);
$soft-blue: hsl(215, 51%, 70%);
$img-length: 35px;
// 300, 400, 600

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Outfit;
   font-size: 18px;
   color: $soft-blue;
   font-weight: 300;
}

.nft {
   &__container {
      height: 100vh;
      background-color: $main-bg;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__card-container {
      width: $card-width;
      background-color: $card-bg;
      padding: 25px;
      margin: 25px;
      border-radius: 20px;
   }

   &__image-container {
      position: relative;
      transition: 200ms all ease-in-out;
      overflow: hidden;
      line-height: 0; // remove the 5px under the div
      
      &:hover {
         .nft__image-hover {
            opacity: 1;
         }
      }
   }

   &__image {
      height: 100%;
      width: 100%;
      border-radius: 10px;
   }

   &__image-hover {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background-color: rgba($cyan, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
   }

   &__text-details {
      margin-top: 20px;
   }

   &__creator,
   &__title {
      color: $white;
      transition: 200ms color ease-in-out;

      &:hover {
         cursor: pointer;
         color: $cyan;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 20px;
   }

   &__details {
      line-height: 1.5em;
   }

   &__value {
      color: $cyan;
   }

   &__separator {
      border: none;
      border-bottom: 1px solid $p-color;
   }

   &__values-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   &__value-container,
   &__days-left-container {
      display: flex;
      align-items: center;
   }

   &__icon {
      margin-right: 10px;
   }

   &__creator-container {
      display: flex;
      align-items: center;
      margin-top: 15px;
   }

   &__creator-avatar-container {
      width: $img-length;
      height: $img-length;
      display: flex;
      align-items: center;
      border-radius: 100px;
      border: 1px solid $white;
      margin-right: 20px;
   }

   &__creator-avatar {
      width: 100%;
      height: 100%;
   }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }